<tr>
	<td align="center" height="80">
		<table width="500" align="center" cellpadding="5" cellspacing="0" border="0" bgcolor="#ffffff">
			<tr>
				<td align="left" height="30">
					<h2><b><font face="Arial, Helvetica, sans-serif, Verdana" color="#333">Solicitação efetuado por {$nome}.</font></b></h2>
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td align="center" height="80">
		<table width="500" align="center" cellpadding="5" cellspacing="0" border="0" bgcolor="#ffffff">
			<tr>
				<td align="left" height="30">
					<p><font face="Arial, Helvetica, sans-serif, Verdana" color="#333">Efetue a exclusão definitiva dos dados do cliente via painel administrativo.</font></p>
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td align="center" height="80">
		<table width="500" align="center" cellpadding="5" cellspacing="0" border="0" bgcolor="#ffffff">
			<tr>
				<td width="115">
					<b><font face="Arial, Helvetica, sans-serif, Verdana" color="#333">Cliente:</font></b>
				</td>
				<td>
					<font face="Arial, Helvetica, sans-serif, Verdana" color="#333">{$nome}</font>
				</td>
			</tr>
			<tr>
				<td width="115">
					<b><font face="Arial, Helvetica, sans-serif, Verdana" color="#333">ID:</font></b>
				</td>
				<td>
					<font face="Arial, Helvetica, sans-serif, Verdana" color="#333">#{$id}</font>
				</td>
			</tr>
			<tr>
				<td width="115">
					<b><font face="Arial, Helvetica, sans-serif, Verdana" color="#333">Data:</font></b>
				</td>
				<td>
					<font face="Arial, Helvetica, sans-serif, Verdana" color="#333">{$datetime}</font>
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td width="100%" align="center">
		<font face="Arial, Helvetica, sans-serif, Verdana" color="#333">
			<a href="{$sitename}/admin" title="Acessar painel" style="color:white;text-decoration:none;background-color:#cfb78b;display:inline-block;border-radius:3px;padding:0.75em;font-size:14px;width:220px;height:26px;line-height:26px;font-weight:bold;margin:10px;" target="_blank">PAINEL ADMINISTRATIVO</a>
		</font>
	</td>
</tr>
