# -----------------------------------------------------------------------------
#  Prevent framework templates folder from going to remote repository
# -----------------------------------------------------------------------------
/src/tmp/templates_c/*