# Seta as variaveis de ambiente
SetEnv APPLICATION_ENV development
SetEnv APPLICATION_DEBUG 0
SetEnv APPLICATION_MAINTENANCE 0

# Seta as configurações padrão
Options -Indexes
Options +FollowSymLinks

# Enable o rewrite
RewriteEngine On

# Caminho base
RewriteBase /admin.gazetamarista.com.br

# Condições
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d

# Regras
RewriteRule ^.*$ - [NC,L]
RewriteRule ^thumb/(.*)/(.*)/(.*)/(.*)/(.*)$ index.php?param=tbimage&tipo=$1&crop=$2&largura=$3&altura=$4&imagem=$5 [QSA,L]
RewriteRule ^.*$ index.php [NC,L]

# Se não tiver rewrite
<IfModule !mod_rewrite.c>
	ErrorDocument 404 index.php
</IfModule>

# Enable GZIP
<ifmodule mod_deflate.c>

    # Insert filter on all content
    SetOutputFilter DEFLATE

    # Insert filter on selected content types only
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript

    # Netscape 4.x has some problems...
    BrowserMatch ^Mozilla/4 gzip-only-text/html

    # Netscape 4.06-4.08 have some more problems
    BrowserMatch ^Mozilla/4\.0[678] no-gzip

    # MSIE masquerades as Netscape, but it is fine
    BrowserMatch \bMSIE !no-gzip !gzip-only-text/html

    # Don't compress images
    SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ no-gzip dont-vary

</ifmodule>

# ------------------------------------------------------------------------------
# | GZip Compression (for faster page transfers)                               |
# ------------------------------------------------------------------------------

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/plain
    AddOutputFilterByType DEFLATE text/html
    AddOutputFilterByType DEFLATE text/xml
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE application/xml
    AddOutputFilterByType DEFLATE application/xhtml+xml
    AddOutputFilterByType DEFLATE application/rss+xml
    AddOutputFilterByType DEFLATE application/javascript
    AddOutputFilterByType DEFLATE application/x-javascript
</IfModule>

#Força a utilizar Cache-Control e Expires header
<IfModule mod_headers.c>
	Header unset ETag

	# 1 ANO
    <FilesMatch "\.(ico|pdf|flv)$">
        Header set Cache-Control "max-age=29030400, public"
        Header append Vary: Accept-Encoding
    </FilesMatch>

    # 1 SEMANA
    <FilesMatch "\.(jpg|jpeg|png|gif|swf)$">
        Header set Cache-Control "max-age=604800, public"
        Header append Vary: Accept-Encoding
    </FilesMatch>


    # 2 DIAS
    <FilesMatch "\.(xml|txt|css|js)$">
        Header set Cache-Control "max-age=604800, public"
        Header append Vary: Accept-Encoding
        RequestHeader unset Cookie
        Header unset Cookie
        Header unset Set-Cookie
    </FilesMatch>

    # 1 MINUTO
    <FilesMatch "\.(html|htm|php)$">
        Header set Cache-Control "max-age=60, private, proxy-revalidate"
        Header append Vary: Accept-Encoding
    </FilesMatch>
</IfModule>

 FileETag None

<IfModule mod_expires.c>
	ExpiresActive on
	ExpiresDefault "access plus 1 month"
	ExpiresByType text/cache-manifest "access plus 0 seconds"

	# Html
	ExpiresByType text/html "access plus 0 seconds"

	# Data
	ExpiresByType text/xml "access plus 0 seconds"
	ExpiresByType application/xml "access plus 0 seconds"
	ExpiresByType application/json "access plus 0 seconds"

	# Feed
	ExpiresByType application/rss+xml "access plus 1 hour"
	ExpiresByType application/atom+xml "access plus 1 hour"

	# Favicon
	ExpiresByType image/x-icon "access plus 1 year"

	# Media: images, video, audio
	ExpiresByType image/gif "access plus 1 year"
	ExpiresByType image/png "access plus 1 year"
	ExpiresByType image/jpg "access plus 1 year"
	ExpiresByType image/jpeg "access plus 1 year"
	ExpiresByType video/ogg "access plus 1 year"
	ExpiresByType audio/ogg "access plus 1 year"
	ExpiresByType video/mp4 "access plus 1 year"
	ExpiresByType video/webm "access plus 1 year"

	# HTC files
	ExpiresByType text/x-component "access plus 1 month"

	# Webfonts
	ExpiresByType application/x-font-ttf "access plus 1 month"
	ExpiresByType font/opentype "access plus 1 month"
	ExpiresByType application/x-font-woff "access plus 1 month"
	ExpiresByType image/svg+xml "access plus 1 month"
	ExpiresByType application/vnd.ms-fontobject "access plus 1 month"

	# CSS / JS
	ExpiresByType text/css "access plus 1 year"
	ExpiresByType application/javascript "access plus 1 year"
	ExpiresByType application/x-javascript "access plus 1 year"
</IfModule>

#Força o IE a sempre carregar utilizando a última versão disponível
<IfModule mod_headers.c>
	Header set X-UA-Compatible "IE=Edge,chrome=1"
	<FilesMatch "\.(js|css|gif|png|jpeg|pdf|xml|oga|ogg|m4a|ogv|mp4|m4v|webm|svg|svgz|eot|ttf|otf|woff|ico|webp|appcache|manifest|htc|crx|oex|xpi|safariextz|vcf)$" >
		Header unset X-UA-Compatible
	</FilesMatch>
</IfModule>