@import "../vendor/uikit/variables-theme";

$mobile-max:$breakpoint-xsmall-max;

$tablet-min:$breakpoint-small;
$tablet-max:$breakpoint-small-max;
$tablet-large-min:$breakpoint-medium;
$tablet-large-max:$breakpoint-medium-max;

$desktop-min:$breakpoint-large;
$desktop-max:$breakpoint-large-max;
$desktop-large-min:$breakpoint-xlarge;

/* ============================================================================
	Mobile
============================================================================ */
@mixin mobile {
	@media screen and (max-width:$mobile-max) {
		@content;

		// mobile-max: 640px
		// aplica o código de 640 para cima
	}
}

@mixin mobile_large {
	@media screen and (min-width:$mobile-max) and (max-width: 768px) {
		@content;
	}
}

@mixin mobile_up {
	@media screen and (min-width:$tablet-min) {
		@content;

		// mobile-min: 640px
		// aplica o código de 640 para baixo
	}
}

/* ============================================================================
	Tablet
============================================================================ */
@mixin tablet {
	@media screen and (min-width:$tablet-min) and (max-width:$tablet-large-max) {
		@content;

		// tablet-min: 640px
		// tablet-large-max: 1200px
		// aplica o código entre 640 e 1200
	}
}

@mixin tablet_small {
	@media screen and (min-width:$tablet-min) and (max-width:$tablet-max) {
		@content;

		// tablet-min: 640px
		// tablet-max: 960px
		// aplica o código entre 640 e 960
	}
}

@mixin tablet_small_down {
	@media screen and (max-width:$tablet-max) {
		@content;

		// table-max: 960px
		// aplica o código de 960 para cima
	}
}

@mixin tablet_small_up {
	@media screen and (min-width:$tablet-large-min) {
		@content;

		// tablet-min: 960px
		// aplica o código de 960 para baixo
	}
}

@mixin tablet_large {
	@media screen and (min-width:$tablet-large-min) and (max-width:$tablet-large-max) {
		@content;

		// table-large-min: 960px
		// table-large-max: 1200px
		// aplica o código de 960 até 1200
	}
}
@mixin tablet_large_down {
	@media screen and (max-width:$tablet-large-max) {
		@content;

		// table-large-max: 1200px
		// aplica o código de 1200 para cima
	}
}


@mixin tablet_horizontal {
	@media screen and (min-width: 800px) and (max-width: 1200px) {
		@content;
	}
}

@mixin tablet_vertical {
	@media screen and (min-width: 600px) and (max-width: 800px) {
		@content;
	}
}

/* ============================================================================
	Desktop
============================================================================ */
@mixin desktop {
	@media screen and (min-width:$desktop-min) {
		@content;

		// desktop-min: 1200px
		// aplica o código de 1200 para baixo
	}
}

@mixin desktop_small {
	@media screen and (min-width:$desktop-min) and (max-width:$desktop-max) {
		@content;

		// desktop-min: 1200px
		// desktop-max: 1600px
		// aplica o código de 1200 até 1600
	}
}

@mixin desktop_large {
	@media screen and (min-width:$desktop-large-min) {
		@content;

		// desktop-large-min: 1600px
		// aplica o código de 1600 para baixo
	}
}

@mixin desktop_down {
	@media screen and (max-width:$tablet-large-max) {
		@content;

		// table-large-max: 1200px
		// aplica o código de 1200 para cima
	}
}

/* ============================================================================
	Print
============================================================================ */
@mixin print {
	@media print {
		@content;
	}
}
