/* ============================================================================
	Vars
============================================================================ */
// Theme colors
$primary-color: #d27050;
$primary-color-hover:#656565;

$secondary-color:#575757;

$third-color:#3C5B75;

$fourth-color: #93ADC3;

$gray: #fff;

// Default colors
$white:#FFFFFF;
$black:#000000;

// Background de algumas seções
$bg-color: #F9F9F9;
$bg-color-2: #F3F3F3;
$bg-color-3:#F6EEDF;
$bg-color-4:#FDDEA4;

// Select 2
$form-font-size:14px;
$form-border-radius:5px;
