@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7pftai');
  src:  url('fonts/icomoon.eot?7pftai#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7pftai') format('truetype'),
    url('fonts/icomoon.woff?7pftai') format('woff'),
    url('fonts/icomoon.svg?7pftai#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cep:before {
  content: "\e9a7";
}
.icon-trash-b:before {
  content: "\e9a6";
}
.icon-filter-b:before {
  content: "\e976";
}
.icon-home-b:before {
  content: "\e9a5";
}
.icon-discount:before {
  content: "\e975";
}
.icon-linkedin-b:before {
  content: "\e977";
}
.icon-facebook-c:before {
  content: "\e98c";
}
.icon-twitter:before {
  content: "\e98e";
}
.icon-corn:before {
  content: "\e99a";
}
.icon-science:before {
  content: "\e99b";
}
.icon-form:before {
  content: "\e99c";
}
.icon-heart:before {
  content: "\e99d";
}
.icon-medal:before {
  content: "\e99e";
}
.icon-plus-e:before {
  content: "\e99f";
}
.icon-search-h:before {
  content: "\e9a0";
}
.icon-profile:before {
  content: "\e9a1";
}
.icon-play-g:before {
  content: "\e9a2";
}
.icon-cart:before {
  content: "\e9a3";
}
.icon-block:before {
  content: "\e9a4";
}
.icon-external:before {
  content: "\e974";
}
.icon-backtotop:before {
  content: "\e962";
}
.icon-newsletter:before {
  content: "\e96c";
}
.icon-facebook-b:before {
  content: "\e96d";
}
.icon-youtube-b:before {
  content: "\e971";
}
.icon-instagram-b:before {
  content: "\e972";
}
.icon-menu-f:before {
  content: "\e973";
}
.icon-pdfviewer:before {
  content: "\e961";
}
.icon-whatsapp-b:before {
  content: "\e95d";
}
.icon-like:before {
  content: "\e95b";
}
.icon-unlike:before {
  content: "\e95c";
}
.icon-search-g:before {
  content: "\e921";
}
.icon-x-b:before {
  content: "\e95a";
}
.icon-back-to-top:before {
  content: "\e959";
}
.icon-facebook:before {
  content: "\e956";
}
.icon-instagram:before {
  content: "\e957";
}
.icon-linkedin:before {
  content: "\e958";
}
.icon-youtube:before {
  content: "\e955";
}
.icon-arrow-k-right:before {
  content: "\e999";
}
.icon-menu1:before {
  content: "\e998";
}
.icon-camera:before {
  content: "\e997";
}
.icon-flag:before {
  content: "\e993";
}
.icon-heart_outline:before {
  content: "\e994";
}
.icon-heart_filled:before {
  content: "\e995";
}
.icon-notification:before {
  content: "\e996";
}
.icon-local:before {
  content: "\e991";
}
.icon-meus-pets:before {
  content: "\e992";
}
.icon-email:before {
  content: "\e98f";
}
.icon-copy:before {
  content: "\e98d";
}
.icon-lock:before {
  content: "\e989";
}
.icon-more:before {
  content: "\e987";
}
.icon-edit:before {
  content: "\e984";
}
.icon-print:before {
  content: "\e985";
}
.icon-home:before {
  content: "\e97b";
}
.icon-card:before {
  content: "\e979";
}
.icon-card-b:before {
  content: "\e981";
}
.icon-pix:before {
  content: "\e982";
}
.icon-plans:before {
  content: "\e97e";
}
.icon-time-b:before {
  content: "\e97f";
}
.icon-eye:before {
  content: "\e96e";
}
.icon-eye-closed:before {
  content: "\e96f";
}
.icon-input-file-file:before {
  content: "\e903";
}
.icon-input-file-attachment-b:before {
  content: "\e988";
}
.icon-attachment:before {
  content: "\e950";
}
.icon-input-file-attachment:before {
  content: "\e905";
}
.icon-trash:before {
  content: "\e986";
}
.icon-input-file-remove:before {
  content: "\e90b";
}
.icon-filters:before {
  content: "\e907";
}
.icon-calendar:before {
  content: "\e91c";
}
.icon-time:before {
  content: "\e948";
}
.icon-message:before {
  content: "\e94b";
}
.icon-contact:before {
  content: "\e97a";
}
.icon-logout:before {
  content: "\e95e";
}
.icon-logout-b:before {
  content: "\e97c";
}
.icon-logout-c:before {
  content: "\e990";
}
.icon-mydata:before {
  content: "\e97d";
}
.icon-user-b:before {
  content: "\e95f";
}
.icon-user:before {
  content: "\e94c";
}
.icon-user-c:before {
  content: "\e901";
}
.icon-user-d:before {
  content: "\e98a";
}
.icon-upload-b:before {
  content: "\e909";
}
.icon-input-file-download:before {
  content: "\e904";
}
.icon-upload:before {
  content: "\e960";
}
.icon-download-b:before {
  content: "\e90a";
}
.icon-download:before {
  content: "\e943";
}
.icon-mail-open-b:before {
  content: "\e912";
}
.icon-mail-open:before {
  content: "\e967";
}
.icon-mail-open-empty-b:before {
  content: "\e968";
}
.icon-mail-open-empty:before {
  content: "\e969";
}
.icon-mail-b:before {
  content: "\e96a";
}
.icon-mail:before {
  content: "\e96b";
}
.icon-search-e:before {
  content: "\e902";
}
.icon-search-f:before {
  content: "\e983";
}
.icon-search-d:before {
  content: "\e906";
}
.icon-search-c:before {
  content: "\e94e";
}
.icon-search-b:before {
  content: "\e946";
}
.icon-search1:before {
  content: "\e945";
}
.icon-pause-d:before {
  content: "\e934";
}
.icon-pause-b:before {
  content: "\e918";
}
.icon-pause:before {
  content: "\e908";
}
.icon-play-f:before {
  content: "\e90e";
}
.icon-play-e:before {
  content: "\e90f";
}
.icon-play-d:before {
  content: "\e92a";
}
.icon-play-b:before {
  content: "\e910";
}
.icon-play1:before {
  content: "\e911";
}
.icon-share:before {
  content: "\e90d";
}
.icon-check:before {
  content: "\e913";
}
.icon-check-b:before {
  content: "\e980";
}
.icon-back-b:before {
  content: "\e90c";
}
.icon-back:before {
  content: "\e914";
}
.icon-minus-d:before {
  content: "\e915";
}
.icon-minus-c:before {
  content: "\e916";
}
.icon-minus-b:before {
  content: "\e917";
}
.icon-minus:before {
  content: "\e919";
}
.icon-plus-d:before {
  content: "\e91a";
}
.icon-plus-c:before {
  content: "\e91b";
}
.icon-plus-b:before {
  content: "\e91d";
}
.icon-plus:before {
  content: "\e91e";
}
.icon-x-d:before {
  content: "\e91f";
}
.icon-x-c:before {
  content: "\e920";
}
.icon-x:before {
  content: "\e922";
}
.icon-arrow-j-up:before {
  content: "\e923";
}
.icon-arrow-j-down:before {
  content: "\e924";
}
.icon-arrow-j-left:before {
  content: "\e925";
}
.icon-arrow-j-right:before {
  content: "\e926";
}
.icon-arrow-long:before {
  content: "\e970";
}
.icon-arrow-i-up:before {
  content: "\e927";
}
.icon-arrow-i-down:before {
  content: "\e928";
}
.icon-arrow-i-left:before {
  content: "\e929";
}
.icon-arrow-i-right:before {
  content: "\e92b";
}
.icon-arrow-h-up:before {
  content: "\e92c";
}
.icon-arrow-h-down:before {
  content: "\e92d";
}
.icon-arrow-h-left:before {
  content: "\e92e";
}
.icon-arrow-h-right:before {
  content: "\e92f";
}
.icon-arrow-g-up:before {
  content: "\e930";
}
.icon-arrow-g-down:before {
  content: "\e931";
}
.icon-arrow-g-left:before {
  content: "\e932";
}
.icon-arrow-g-right:before {
  content: "\e933";
}
.icon-arrow-f-up:before {
  content: "\e935";
}
.icon-arrow-f-left:before {
  content: "\e936";
}
.icon-arrow-f-right:before {
  content: "\e937";
}
.icon-arrow-e-up:before {
  content: "\e938";
}
.icon-arrow-e-down:before {
  content: "\e939";
}
.icon-arrow-e-left:before {
  content: "\e93a";
}
.icon-arrow-e-right:before {
  content: "\e93b";
}
.icon-arrow-k-right1:before {
  content: "\e900";
}
.icon-arrow-d-up:before {
  content: "\e93c";
}
.icon-arrow-d-down:before {
  content: "\e93d";
}
.icon-arrow-d-left:before {
  content: "\e93e";
}
.icon-arrow-d-right:before {
  content: "\e93f";
}
.icon-arrow-c-down:before {
  content: "\e940";
}
.icon-arrow-c-up:before {
  content: "\e941";
}
.icon-arrow-c-left:before {
  content: "\e942";
}
.icon-arrow-c-right:before {
  content: "\e944";
}
.icon-arrow-b-up:before {
  content: "\e947";
}
.icon-arrow-b-down:before {
  content: "\e949";
}
.icon-arrow-b-left:before {
  content: "\e94a";
}
.icon-arrow-b-right:before {
  content: "\e94d";
}
.icon-arrow-up:before {
  content: "\e94f";
}
.icon-arrow-down:before {
  content: "\e951";
}
.icon-arrow-left:before {
  content: "\e952";
}
.icon-arrow-right:before {
  content: "\e953";
}
.icon-whatsapp:before {
  content: "\e954";
}
.icon-menu-c:before {
  content: "\e963";
}
.icon-menu-b:before {
  content: "\e964";
}
.icon-menu11:before {
  content: "\e965";
}
.icon-menu-d:before {
  content: "\e978";
}
.icon-menu-e:before {
  content: "\e98b";
}
.icon-gazetamarista:before {
  content: "\e966";
}
