<tr>
    <td align="center" height="80">
        <table width="500" align="center" cellpadding="5" cellspacing="0" border="0" bgcolor="#ffffff">
            <tr>
                <td align="left" height="30">
                    <p><font face="Arial, Helvetica, sans-serif, Verdana" color="#333">{$titulo}</font></p>
                    <p><font face="Arial, Helvetica, sans-serif, Verdana" color="#333">Verifique as informações abaixo, entraremos em contato com você o mais breve possível.</font></p>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td align="center" height="80">
        <table width="500" align="center" cellpadding="5" cellspacing="0" border="0" bgcolor="#ffffff">
            {$dados}
        </table>
    </td>
</tr>
