<tr>
	<td align="center" height="80">
		<table width="500" align="center" cellpadding="5" cellspacing="0" border="0" bgcolor="#ffffff">
			<tr>
				<td align="left" height="30">
					<h2><b><font face="Arial, Helvetica, sans-serif, Verdana" color="#333">Olá {$nome_completo},</font></b></h2>
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td align="center">
		<table width="500" align="center" cellpadding="5" cellspacing="0" border="0" bgcolor="#ffffff">
			<tr>
				<td align="left" height="30">
					<p><font face="Arial, Helvetica, sans-serif, Verdana" color="#333">Prossiga com os passos abaixo para recuperar sua senha.</font></p>
					<p><font face="Arial, Helvetica, sans-serif, Verdana" color="#333">Caso não tenha solicitado essa operação, apenas ignore este e-mail.</font></p>
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td align="center" height="80">
		<table width="500" align="center" cellpadding="5" cellspacing="0" border="0" bgcolor="#ffffff">
			<tr>
				<td width="115">
					<b><font face="Arial, Helvetica, sans-serif, Verdana" color="#333">Nome completo:</font></b>
				</td>
				<td>
					<font face="Arial, Helvetica, sans-serif, Verdana" color="#333">{$nome_completo}</font>
				</td>
			</tr>
			<tr>
				<td width="115">
					<b><font face="Arial, Helvetica, sans-serif, Verdana" color="#333">Data:</font></b>
				</td>
				<td>
					<font face="Arial, Helvetica, sans-serif, Verdana" color="#333">{$datetime}</font>
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td width="100%" align="center">
		<font face="Arial, Helvetica, sans-serif, Verdana" color="#333">
			<a href="{$url_chave}" target="_blank" title="Continuar recuperação" style="color:white;text-decoration:none;background-color:#cfb78b;display:inline-block;border-radius:3px;padding:0.75em;font-size:14px;width:auto;height:26px;line-height:26px;font-weight:bold;margin:10px;" target="_blank">CONTINUAR RECUPERAÇÃO</a>
		</font>
	</td>
</tr>
