<tr>
	<td align="center" height="80">
		<table width="500" align="center" cellpadding="5" cellspacing="0" border="0" bgcolor="#ffffff">
			<tr>
				<td align="left" height="30">
					<h2><b><font face="Arial, Helvetica, sans-serif, Verdana" color="#333">Olá {$nome},</font></b></h2>
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td align="center" height="80">
		<table width="500" align="center" cellpadding="5" cellspacing="0" border="0" bgcolor="#ffffff">
			<tr>
				<td align="left" height="30">
					<p><font face="Arial, Helvetica, sans-serif, Verdana" color="#333">Obrigado por se cadastrar em nosso site.</font></p>
					<p><font face="Arial, Helvetica, sans-serif, Verdana" color="#333">Segue abaixo as informações do seu cadastro.</font></p>
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td align="center" height="80">
		<table width="500" align="center" cellpadding="5" cellspacing="0" border="0" bgcolor="#ffffff">
			<tr>
				<td width="100%">
					<font face="Arial, Helvetica, sans-serif, Verdana" color="#333">Ao efetuar o login, por segurança efetue a alteração da nova senha.</font>
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td align="center" height="80">
		<table width="500" align="center" cellpadding="5" cellspacing="0" border="0" bgcolor="#ffffff">
			<tr>
				<td width="115">
					<b><font face="Arial, Helvetica, sans-serif, Verdana" color="#333">Nome completo:</font></b>
				</td>
				<td>
					<font face="Arial, Helvetica, sans-serif, Verdana" color="#333">{$nome}</font>
				</td>
			</tr>
			<tr>
				<td width="115">
					<b><font face="Arial, Helvetica, sans-serif, Verdana" color="#333">Login:</font></b>
				</td>
				<td>
					<font face="Arial, Helvetica, sans-serif, Verdana" color="#333">{$email}</font>
				</td>
			</tr>
			<tr>
				<td width="115">
					<b><font face="Arial, Helvetica, sans-serif, Verdana" color="#333">Nova senha:</font></b>
				</td>
				<td>
					<font face="Arial, Helvetica, sans-serif, Verdana" color="#333">{$nova_senha}</font>
				</td>
			</tr>
			<tr>
				<td width="115">
					<b><font face="Arial, Helvetica, sans-serif, Verdana" color="#333">Data:</font></b>
				</td>
				<td>
					<font face="Arial, Helvetica, sans-serif, Verdana" color="#333">{$datetime}</font>
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td width="100%" align="center">
		<font face="Arial, Helvetica, sans-serif, Verdana" color="#333">
			<a href="{$sitename}/minha-conta/meus-dados" title="Acessar painel" style="color:white;text-decoration:none;background-color:#cfb78b;display:inline-block;border-radius:3px;padding:0.75em;font-size:14px;width:220px;height:26px;line-height:26px;font-weight:bold;margin:10px;" target="_blank">ACESSAR PAINEL</a>
		</font>
	</td>
</tr>
