
.graph-container > .titulo-graph {
    font-size: 24px;
    font-weight: 500;
}

.row-graphs {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.graph-container {
    width: 100% !important;
    height: auto !important;
}