
.graph-container > .titulo-graph {
    font-size: 24px;
    font-weight: 500;
}

.row-graphs {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) {
    .row-graphs {
        flex-direction: column;
    }
}

.graph-container {
    width: 100% !important;
    height: auto !important;
}