body, html {
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: linear-gradient(90deg, #024d77, #0378ae);
}

.pagina-login {
	margin: 0 !important;
	padding: 0 !important;
	width: 900px !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

label {
	font-size: 22px;
	font-weight: 500;
}

input {
	padding: 10px 20px !important;
	font-size: 16px !important;
	width: 100% !important;
}

.formulario {
	background: #fff;
	padding: 40px;
	border-radius: 4px;
	min-width: 600px;
}

.image {
	width: 100%;
	height: fit-content;
	display: flex;
	justify-content: center;

	img {
		height: 90px;
		width: auto;
	}
}

.button {
	background-color: #024d77 !important;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	margin-top: 10px !important;
}

@media screen and (max-width: 700px) {
	.formulario {
		min-width: 300px;
	}
}

@media screen and (max-width: 400px) {
	body {
		background: #fff;
	}

	label {
		font-size: 16px;
	}

	input {
		font-size: 14px !important;
	}
}