@import "../vars";

#site-corpo.main-duvidas-frequentes {
	padding-top:90px;
	padding-bottom: 80px;

	@include mobile {
		padding-top: 0px;
		padding-bottom: 40px;
	}

	header {
		margin-bottom: 60px;

		@include mobile {
			flex-direction: column;
			gap: 20px;
			margin-bottom: 20px;
		}

		.title-container {
			@include mobile {
				padding-top: 30px;
				padding-bottom: 30px;
				width: 100%;
				position: relative;

				&::after {
					content: "";
					width: calc(100% + 55px);
					left: -27.5px;
					height: 1px;
					background: rgba($black, 0.1);
					position: absolute;
					bottom: 0;
				}
			}
		}

		.titulo-padrao {
			margin-bottom: 0;
		}

		.form-search {
			display: flex;
			align-items: center;
			gap: 6px;
			position: relative;

			@include mobile {
				width: 100%;
			}

			.uk-input {
				width: 380px;
				height: 50px;
				padding-right: 50px;
				max-width: 100%;

				@include mobile {
					width: 100%;
				}

				&::placeholder {
					color: $black;
				}
			}

			.uk-button {
				background: none;
				min-width: fit-content;
				padding-left: 20px;
				padding-right: 20px;
				min-height: 50px;
				height: 50px;
				position: absolute;
				top: 0;
				right: 0;

				i {
					color: $black;

					&.icon-x {
						font-size: 17px;
					}
				}
			}
		}
	}

	.faq-item {
		background-color: #F4F4F4;
		border-radius: 5px;
		height: 100%;
		padding: 35px 40px;
		transition: 0.2s ease-in-out;

		@include mobile {
			padding: 20px 30px;
		}

		&:hover {
			background-color: $bg-color-3;
		}

		h2 {
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			text-transform: uppercase;
			margin-bottom: 25px;
		}

		p.answer {
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 0;
		}
	}
}