@import '../vars';

#site-corpo.main-servicos {
    padding-bottom: 0;

	.bloco-banner {
        width: 100%;
        height: 600px;
        margin: 0;

        @include tablet_horizontal {
            height: 400px;
        }

        @include tablet_vertical {
            height: 300px;
        }

        @include mobile {
            height: 365px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .bloco-descricao {
        padding: 60px 220px;
        background-color: #D27050;
        height: fit-content;
        width: 100%;

        @include tablet_horizontal {
            padding: 60px 100px;
        }

        @include tablet_vertical {
            padding: 60px 30px;
        }

        @include mobile {
            padding: 50px 20px;
        }

        .texto {
            color: #FFFFFF;
            font-size: 20px;
            font-weight: 300;
			font-family: "Avenir";
            line-height: 30px;
            margin: 0;

            @include mobile {
                font-size: 16px;
                line-height: 24px;    
            }
        }
    }

    .bloco-servicos {
        padding: 80px 220px;
        display: flex;
        flex-direction: column;
        row-gap: 40px;

        @include tablet_horizontal {
            padding: 80px 100px;
        }

        @include tablet_vertical {
            padding: 60px 30px;
        }

        @include mobile {
            padding: 50px 20px;
            row-gap: 20px;
        }

        .titulo {
            width: 100%;
            text-align: center;
            color: #D27050;
            font-size: 36px;
            font-weight: 600;
            line-height: 43.2px;
			font-family: "Avenir";
            margin: 0;

            @include mobile {
                font-size: 24px;
                line-height: 28.8px;
            }
        }

        .grid-servicos {
            display: flex;
            justify-content: center;
            gap: 10px;
            height: fit-content;

            @include tablet_horizontal {
                row-gap: 40px;
            }

            @include tablet_vertical {
                row-gap: 20px;
                flex-direction: column;
            }

            @include mobile {
                flex-direction: column;
            }

            .servico {
                display: flex;
                flex-direction: column;
                row-gap: 0;
                cursor: pointer;

                &:hover {
                    .bar-bottom {
                        transition: .33s;
                        background-color: #eeeeee;
                    }
                }

                @include mobile{
                    min-width: 0;
                }

                .figure {
                    width: 100%;
                    height: 380px;
                    margin: 0;

                    @include mobile {
                        height: 280px;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .bar-bottom {
                    padding: 40px 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #F6F6F6;

                    @include mobile {
                        padding: 20px 20px;
                    }

                    .titulo {
                        color: #656565;
                        font-size: 36px;
                        font-family: "Avenir";
                        font-weight: 600;
                        line-height: 43.2px;
                        margin: 0;

                        @include mobile {
                            font-size: 24px;
                            line-height: 28.8px;
                        }
                    }
                }
            }
        }

        @include desktop {
            .grid-template {
                display: grid;
                grid-template-columns: 1fr 1fr;

                .bar-bottom {
                    height: 30%;
                }
            }
        }

        @include tablet_horizontal {
            .grid-template {
                display: grid;
                grid-template-columns: 1fr 1fr;

                .bar-bottom {
                    height: 30%;
                }
            }
        }
    }
}

#site-corpo.main-servico {
    padding-bottom: 0;

    .bloco-banner {
        width: 100%;
        height: 420px;
        margin: 0;

        @include tablet_horizontal {
            height: 400px;
        }

        @include tablet_vertical {
            height: 300px;
        }

        @include mobile {
            height: 365px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .bloco-descricao {
        padding: 80px 371px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
        text-align: center;
        background-color: #F6F6F6;

        @include tablet_horizontal {
            padding: 80px 110px;
        }

        @include tablet_vertical {
            padding: 80px 30px;
        }

        @include mobile {
            padding: 50px 20px;
            row-gap: 20px;
        }

        .titulo {
            color: #656565;
            font-size: 64px;
            font-weight: 600;
			font-family: "Avenir";
            line-height: 76.8px;
            margin: 0;

            @include mobile {
                font-size: 36px;
                line-height: 40px;
            }
        }

        .texto {
            color: #656565;
            font-size: 20px;
            font-weight: 400;
			font-family: "Avenir";
            line-height: 30px;
            text-align: left;
            margin: 0;
            max-width: 770px;

            @include mobile {
                font-size: 14px;
                line-height: 21px;
            }
        }
    }

    .bloco-contato {
        padding: 30px 220px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include tablet_horizontal {
            padding: 30px 40px;
        }

        @include tablet_vertical {
            padding: 30px 30px;
        }

        @include mobile {
            padding: 30px 20px;
            flex-direction: column;
            row-gap: 20px;
        }

        .left {
            display: flex;
            align-items: center;
            gap: 20px;

            @include mobile {
                flex-direction: column;
                row-gap: 20px;
                text-align: center;
            }

            .titulo {
                font-family: 'Avenir';
                font-size: 16px;
                font-weight: 300;
                line-height: 19.2px;
                letter-spacing: 0.05em;
                color: #656565;
                text-transform: uppercase;
                margin: 0;

                @include mobile {
                    padding: 10px 0;
                    border-bottom: 1px solid #525254;
                }
            }
        }

        .button {
            padding: 10px 20px;
            font-family: 'Avenir';
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            letter-spacing: 0.05em;
            color: #656565;
            border: 1px solid #656565;
            border-radius: 5px;
            transition: .33s;

            &:hover {
                background-color: #fefefe;
            }
        }
    }
}