@import "../vars";

#site-corpo.main-sobre-nos {
	padding-top:0px;
	padding-bottom: 150px;

	@include tablet {
		padding-bottom: 80px;
	}

	@include mobile {
		padding-bottom: 50px;
		overflow-x: hidden;
	}

	.titulo-padrao {
		margin-top: 60px;
		margin-bottom: 35px;

		@include tablet {
			margin-top: 50px;
		}

		@include mobile {
			margin-top: 30px;
			text-align: center;
		}
	}

	.banner-container {
		height: 600px;

		@include tablet_horizontal {
			height: 400px;
		}

		@include tablet_vertical {
			height: 300px;
		}

		@include mobile {
			height: 365px;
		}

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	.d-flex {
		display: flex;
		justify-content: center;
		gap: 87px;

		@include tablet_horizontal {
			gap: 40px;
		}

		p {
			width: 100%;
			font-family: 'Montserrat';

			@include mobile {
				font-size: 16px;
				line-height: 24px;
			}
		}
	}

	p {
		font-weight: 400;
		font-size: 16px;
		line-height: 30px;
		margin-bottom: 0;
		// max-width: 780px;

		@include mobile {
			font-size: 14px;
			line-height: 20px;
		}

		&.small {
			max-width: 300px;

			@include tablet_small_down {
				max-width: 780px;
			}
		}
	}

	h3 {
		font-weight: 400;
		font-size: 30px;
		line-height: 40px;
		max-width: 780px;
		margin: 134px auto;

		@include mobile {
			font-size: 18px;
			line-height: 24px;
			margin: 44px auto;
			padding: 0 20px;
		}
	}

	.images-container {
		margin: 120px 0;
		height: 500px;

		.swiper-pagination {
			margin-top: 40px;

			.swiper-pagination-bullet {
				width: 8px;
				height: 8px;
			}

			@include tablet_horizontal {
				display: none;
			}
		}



		.grid-container {
			height: 500px !important;

			@include mobile {
				height: 300px !important;
			}
		}

		@include tablet {
			margin: 60px 0;
		}

		@include tablet_horizontal {
			height: 400px;
		}

		@include mobile {
			margin: 40px 0;
			height: 300px !important;
		}

		.slides {
			width: 100%;
			height: 100%;
		}

		.swiper-wrapper {
			height: 440px;

			@include mobile {
				height: auto;
			}
		}

		img {
			width: 100%;
			height: 100%;

			@include tablet_vertical {
				object-fit: cover;
			}

			@include mobile {
				object-fit: cover;
				object-position: top;
			}
		}
	}

	.right-video {
		width: 100%;
	}

	.button-play {
		width: 70px;
		height: 70px;
	}

	.video-inline {
		height: 100%;
	}

	.d-flex {
		@include tablet_vertical {
			flex-direction: column;
			row-gap: 40px;
			margin-bottom: 50px
		}

		@include mobile {
			flex-direction: column;
			row-gap: 20px;
		}
	}

	.titulo-padrao {
		@include mobile {
			font-family: 'Montserrat';
			font-size: 24px;
			font-weight: 700;
			line-height: 29.26px;
			margin-top: 40px 0 20px;
		}
	}

	.uk-container {
		@include mobile {
			padding:  0 20px;
		}
	}

	.bloco-sobre-nos {
		padding: 80px 366px 0 366px;
		text-align: center;
		display: flex;
		flex-direction: column;
		row-gap: 40px;

		@include tablet_horizontal {
			padding: 80px 120px 0 120px;
		}

		@include tablet_vertical {
			padding: 40px 40px 0 40px;
		}

		@include mobile {
			padding: 50px 20px 0 20px;
			row-gap: 20px;
		}

		.titulo-sobre-nos {
			color: #656565;
			font-size: 64px;
			font-weight: 600;
			line-height: 76.8px;
		    font-family: "Avenir";
			margin: 0;

			@include mobile {
				font-size: 36px;
				line-height: 30px;
			}
		}

		.descricao-sobre-nos {
			color: #656565;
		    font-family: "Avenir";
			font-size: 20px;
			line-height: 30px;
			font-weight: 300;
			text-align: left;

			@include mobile {
				font-size: 14px;
				line-height: 24px;
			}
		}
	}

	.bloco-imagens {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		height: 440px;
		margin: 80px 0;

		@include tablet_vertical {
			flex-direction: column;
			height: 900px;
		}

		@include mobile {
			flex-direction: column;
			height: 504px;
			margin: 40px 0;
		}

		.image {
			height: 100%;
			width: 100%;

			img {
				height: 100%;
				width: 100%;
				object-fit: cover;

				@include tablet_vertical {
					height: 440px;
				}

				@include mobile {
					height: 242px;
				}
			}
		}
	}

	.bloco-texto {
		padding: 0 366px;
		text-align: left;

		@include tablet_vertical {
			padding: 0 120px;
		}

		@include tablet_horizontal {
			padding: 0 120px;
		}

		@include mobile {
			padding: 0 20px;
		}

		.text {
			color: #656565;
			font-size: 20px;
			font-weight: 300;
		    font-family: "Avenir";
			line-height: 30px;

			@include mobile {
				font-size: 14px;
				line-height: 24px;
			}
		}
	}
}