@import '../vars';

#site-corpo.main-textos {
	padding-top: 100px;
	padding-bottom: 120px;

	@include tablet_small_down {
		padding-top: 30px;
		padding-bottom: 50px;
	}

	.titulo-padrao {
		margin-bottom: 35px;

		@include tablet_small_down {
			text-align: center;
			margin-bottom: 20px;
		}
	}

	.links-container {
		background: $bg-color-3;
		border-radius: 5px;
		width: 280px;
		padding: 12px 20px;

		ul {
			@include ul-reset;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 10px;

			li {
				a {
					font-weight: 500;
					font-size: 14px;
					line-height: 13px;
					color: $black;
					cursor: pointer;
					padding: 10px 0px;
					display: block;
					position: relative;
					opacity: 0.5;

					@include mobile {
						text-align: center;
					}

					&.active {
						opacity: 1;
					}

					&:not(.active):hover {
						opacity: 0.6;
					}
				}
			}
		}
	}

	.links-mobile-container {
		background-color: $bg-color-3;
		border-radius: 5px;
		padding: 20px;
		display: flex;
		align-items: center;
		font-weight: 500;
		font-size: 14px;
		line-height: 1;
		color: $black;
		position: relative;

		&[aria-expanded="true"] {
			border-radius: 5px 5px 0 0;
		}

		i {
			position: absolute;
			top: calc(50% + 2px);
			transform: translateY(-50%);
			right: 20px;
			font-size: 12px;
			color: $black;
		}

		& + .uk-dropdown {
			box-shadow: none;
			background-color: $bg-color-3;
			border: 0;
			border-radius: 0 0 5px 5px;
			width: calc(100% - 40px);
			padding: 10px 20px 17px;

			@include mobile {
				width: calc(100% - 55px);
				left: 27.5px!important;
			}

			ul {
				@include ul-reset;
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-top: -15px;
				gap: 4px;
	
				li {
					a {
						font-weight: 500;
						font-size: 14px!important;
						line-height: 14px;
						color: $black;
						cursor: pointer;
						padding: 8px 0px;
						display: block;
						position: relative;
						text-align: left;
	
						&:hover {
							color: darken($primary-color, 10%);
						}
					}
				}
			}
		}
	}

	.text-column {
		.texto {
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;
			color: $black;
			overflow-wrap: break-word;

			p:empty {
				display: none;
			}

			h1, h2, h3, h4, h5, h6 {
				font-size: 20px;
				color: $black;
			}
		}
	}
}